* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow:hidden;
}

.glCanvas {
  margin: auto;
  width: inherit;
  height: inherit;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}